<div class="container mt-4 table">
    <h3>Khoá Học Của Tôi</h3>
    <a href="/me/deleted/course" >Thùng Rác({{deleteCount}})</a>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">TT</th>
        <th scope="col">Tên khoá học</th>
        <th scope="col">Trình Độ</th>
        <th scope="col" colspan="2">Thời gian tạo</th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
            <a href="/course/{{this._id}}/edit" class="btn btn-link">Sửa</a> {{!-- chuyền _id lên slug--}}
            <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-course-item" data-id="{{this._id}}">Xoá</a> {{!-- data-id truyền id vào mỗi nút xoá--}}
        </td>
        </tr>
        {{else}}
        <tr>
             <td colspan="5" class="text-center">
             Không còn khoá học nào tồn tại.  
             <a href="/course/create">Tạo khoá học mới tại đây</a>
            <td>
        </tr>   
         {{/each}}
    </tbody>
    </table>
</div>
{{!-- form xác nhận--}}
<div class="modal fade" id="delete-course-item" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoá Khoá Học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xoá không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
        <button type="button" class="btn btn-danger" id="delete-item" >Xoá Bỏ</button>
      </div>
    </div>
  </div>
</div>
<form method="POST" name="delete-form" ></form>
<script>
    var deletecourseitem = document.getElementById('delete-course-item')
    var id;
    deletecourseitem.addEventListener('show.bs.modal', function (event) {
 
    var button = event.relatedTarget
  
    id = button.getAttribute('data-id')
    })// lấy cái id của từng khoá học
    var deleteitem = document.getElementById('delete-item');
    deleteitem.onclick = function(){
        var deleteForm = document.forms['delete-form'];
        deleteForm.action = '/course/' + id + '?_method=DELETE';
        deleteForm.submit();    
   
    }
</script>